<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317021259810-s7ov5gtl7be0jnmnoabbkv3fa52n5aan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317021259810-s7ov5gtl7be0jnmnoabbkv3fa52n5aan</string>
	<key>API_KEY</key>
	<string>AIzaSyCzDlXcSHltuTEsqT9J__wakGosBHdAMhc</string>
	<key>GCM_SENDER_ID</key>
	<string>317021259810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.com.UserApp</string>
	<key>PROJECT_ID</key>
	<string>userapp-ec24a</string>
	<key>STORAGE_BUCKET</key>
	<string>userapp-ec24a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317021259810:ios:e3762614694a413487e27b</string>
	<key>DATABASE_URL</key>
	<string>https://userapp-ec24a.firebaseio.com</string>
</dict>
</plist>